canvas {
    background-color:  black;
}

table, tr, td {
    border-width:  1px
}
table {
 // border-style:  outset;
    border-spacing:  2px;
}
td {
 // border-style:  inset;
}

p, li {
    white-space :  pre-wrap;
}

td.n, tr.n { /* numeric data */
    text-align  :  right;
}
td.t, tr.t { /* titular data */
    text-align  :  center;
}
